<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1>You haven't entered a valid number</h1>
  <form action="/">
    <input type="submit" value="Try again" />
</form>
  </body>
</html>
