<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body background = "https://s28.postimg.org/9o7gxweyl/opps2.png" style ="background-repeat: no-repeat; background-size: 60%;">
  <form action="/" style = "display: flex; margin: 0 15%; justify-content: bottom; color: #ff5a60; margin-top: 31%; margin-left: 34%;" >
    <input type="submit" value="Back" style="width:200px; color: red;" />
</form>
  </body>
</html>
