body {
    background: url('https://s28.postimg.org/n0dpvozn1/img_background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}



#input {
  position: absolute;
  width: 100%;
  height: 200px;

  top: 30%;
  left: 30%;


}
h1 {
  color: #6DC8C8;
  margin-left: 10%;
}

h5 {
color: #6DC8C8;
}

p {
  font-size: 80%;

}

form {
  display: flex;
  margin: 0 5%;
  justify-content: center;
  color: #6DC8C8;
  margin-right: 70%;
  margin-top: 5%;

}
input {
  padding: 5px 20px;
  text-align: center;
}
.button {
    background-color: #6DC8C8;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Roboto Condensed';
    font-size: 30px;
    color: white;
    margin: 4px 2px;
    cursor: pointer;
}
.number {
  text-align: center;
  font-size: 4em;
    display: inline-table;
    color: grey;
}
