body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  font: 30px;
  color: black;
}

form {
  display: flex;
  margin: 0 15%;
  justify-content: center;
  color: #ff5a60;
  margin-top: 10%;
  margin-bottom: 10%;
}

.number {
  text-align: center;
  font-size: 4em;
    display: inline-table;
    color: grey;
}
