body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  display: flex;
  margin: 0 15%;
  justify-content: center;
  color: #ff5a60;
  margin-top: 10%;
  margin-bottom: 10%;
}
